@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Noto+Serif&display=swap');

:root {
    --header: 'Carter One', cursive;
    --text: 'Noto Serif', serif;
    --bg-light: #343a40;
    --bg-dark: #212529;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text);
    color: white;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}

h1, h2, h3 {
    font-family: var(--header);
    color: white;
}

body {
    background-color: var(--bg-light);
}

.menu-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#212529bd;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3%;
}

.close-btn-container i {
    font-size: 20px;
}

.menu-container nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu-container nav a {
    color: whitesmoke;
    margin: 2% 0;
}

.menu-container {
    display: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    background-color: var(--bg-dark);
}

header .fa-bars {
    display: none;
}

header h1 {
    margin: 0;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

header nav a {
    color: rgb(226, 222, 222);
}

header nav a:hover {
    color: white;
}

#sign-up-link {
    padding: 1% 2%;
    background-color: white;
    border-radius: 5px;
    color: var(--bg-dark);
}

#sign-up-link:hover {
    text-decoration: none;
}

/* main */
main {
    padding: 1% 3%;
}

.latest-reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    padding: 2%;
    background-color: var(--bg-dark);
    border-radius: 10px;
    margin: 2%;
}

.card .vote-btns {
    margin: 3% 0;
    display: flex;
}

.vote-btns i {
    padding: 2%;
    font-size: 17px;
    cursor: pointer;
}

.card .tags {
    display: flex;
}

.tags small {
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.637);
    border-radius: 3px;
    color: var(--bg-dark);
    margin-left: 2%;
}

.see-more {
    padding-top: 3%;
}

.card #delete-btn {
    margin-top: 3%;
    margin-left: 3%;
}

.form-container {
    display: grid;
    place-items: center;
}

form {
    background-color: var(--bg-dark);
    min-width: 50%;
    text-align: center;
    min-height: 400px;
    border-radius: 4px;
    padding: 0% 3%;
}

.form-control {
    background-color: transparent;
    color: white;
}

.error {
    color: red;
    font-weight: bold;
}

/* account page */
.account-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-profile {
    padding: 2%;
    background-color: var(--bg-dark);
    border-radius: 10px;
    margin-right: 3%;
    height: max-content;
}

.user-profile .votes {
    display: flex;
}

.votes p {
    margin: 0 3%;
}

.user-profile .action-btns {
    margin-top: 3%;
}

.account-container .posts {
    background-color: var(--bg-dark);
    border-radius: 10px;
    height: 500px;
    padding: 2%;
    overflow-y: scroll;
}

.posts .card {
    background-color: var(--bg-light);
}

.md-textarea {
    height: 200px;
    resize: none;
}

.post-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.post-container .post {
    height: max-content;
}

.post-container .comments {
    background-color: var(--bg-dark);
    padding: 3%;
    height: 550px;
    border-radius: 10px;
}

.post-container .comments {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 93% 7%;
    grid-gap: 2%;
}

.post-container .comments article {
    overflow-y: scroll;
    width: 100%;
    padding: 3%;
}

.comment-card {
    height: max-content;
    padding: 2%;
    background-color: var(--bg-light);
    border-radius: 10px;
    margin-bottom: 2%;
}

.post-container .comments .comment-form {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 2%;
    min-height: max-content;
}

/* media queries */
@media screen and (max-width: 1000px) {
    .latest-reviews {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .latest-reviews {
        display: grid;
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 25px;
    }

    header nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }

    form {
        min-width: 80%;
    }

    /* account page */
    .account-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .user-profile {
        margin-bottom: 3%;
    }

    .post-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 425px) {
    header .fa-bars {
        display: inline;
    }

    header nav {
        display: none;
    }

    form {
        min-width: 95%;
    }

    .menu-container {
        display: none;
    }

    .menu-container.active {
        display: block;
    }
}